@import '../../Global/Variables.scss';

.page-class{
    width: 100%;
    height: auto;
    background-color: $surface;

    .subject{
        width: inherit;
        height: 320px;
        background-color: $primary;
    }

    .activities{
        width: inherit;
        height: calc(100vh - 320px);
        /*Calculo realizado pois está page não tem scrool,
        o calculo é feito para ter as exatas dimenções de qualquer tela
        para não dar problema de cores diferentes no background*/

        .to-done{
            width: 100%;
            height: 240px;
            padding: 12px 0;

            &__title{
                color: $onsurface;
            }
        }
    }
}