.home-button{
    width: 196px;
    height: 196px;
    background-color: #FFFFFF;
    display: flex;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

    &:nth-child(1){
        background-color: #00CCFF;
    }

    &__title{
        font-size: 24px;
        margin-top: 8px;
    }
}



