body {
  margin: 0;
  font-family: FuturaCondensed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Futura;
  src: url("../src/Assets/Fonts/Futura.ttf");
}

@font-face {
  font-family: FuturaBold;
  src: url("../src/Assets/Fonts/FuturaBold.ttf");
}

@font-face {
  font-family: FuturaMedium;
  src: url("../src/Assets/Fonts/FuturaMedium.ttf");
}

@font-face {
  font-family: FuturaCondensed;
  src: url("../src/Assets/Fonts/FuturaCondensed.otf");
}
